<!------------- Footer------->
<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-5_sm-12-bottom">
        <h3>Let's<br>
             <span class="featured-text">connect</span></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam enim nam veniam nobis totam, assumenda nisi eligendi non ipsum hic, quam qui iusto sit! Totam nemo repudiandae omnis nobis hic?</p>
    </div>
    <div class="col-5_sm-12-bottom">
       <p><strong>Call:</strong><a href="tel:#">04 555 5565</a></p> 
       <p> <strong>Email:</strong> <a href="mailto:#">hello@sleepco</a></p>
       <p><strong>Store:</strong> 55 Main St. Chicago</p>
       <p><strong>Instagram:</strong> <a href="https://www.Instagram.com/thesleepco">@thesleepco</a></p>
    </div>
</footer>